{% extends 'base.html' %}
{% block title %}Reset{% endblock title %}
{% block header_style %}
<style>
    .navbar{
        background: #2f2d51;
    }
</style>
{% endblock header_style %}
{% block content %}
{% load crispy_forms_tags %}
    <!-- PAGE TITLE
    ================================================== -->
    <header class="py-8 py-md-11" style="background-image: none;">
        <div class="container text-center py-xl-2">
            <h1 class="display-4 fw-semi-bold mb-0">Recover Password</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                    <li class="breadcrumb-item">
                        <a class="text-gray-800" href=" {% url 'home' %} ">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item text-gray-800 active" aria-current="page">
                        Reset Password
                    </li>
                </ol>
            </nav>
        </div>
        <!-- Img -->
        <img class="d-none img-fluid" src="...html" alt="...">
    </header>


    <!-- RECOVER
    ================================================== -->
    <div class="container mb-11">
        <div class="row gx-0">
            <div class="col-md-7 col-xl-4 mx-auto">
                <!-- Recover -->
                <h3 class="mb-6">Recover password!</h3>

                <!-- Form Recover Password -->
                <form class="mb-5" method="post">
                    {% csrf_token %}
                    <!-- Email -->
                    <div class="form-group">
                        <label>{{field.label_tag}}</label>
				        <p> {{form|crispy}} </p>
                    </div>

                    <!-- Submit -->
                    <button class="btn btn-block btn-primary" type="submit">
                        SEND LINK
                    </button>
                </form>

                <!-- Text -->
                <p class="mb-0 font-size-sm text-center">
                    Remember your password? <a class="text-underline" href=" {% url 'login' %} ">Log In</a>
                </p>
            </div>
        </div>
    </div>

{% endblock content %}